.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; 
}

.navbar-menu {
  display: flex;
  gap: 16px; /* Butonlar arası boşluk */
}

.navbar-menu button {
  margin-top: 1vh;
  background-color: transparent;
  color: #527895;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 12px;
  transition: color 0.2s ease;
  font-family: 'Russo One', sans-serif;
}

.navbar-menu button:hover {
  color: #1cebdd; /* Hover rengi */
}
.navbar-menu button.active {
  color: #1cebdd; /* Aktif buton rengi */
  font-weight: bold;
}

.navbar-logo img {
  display: flex;
  height: 110px;
  width: auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .navbar-logo img {
    height: 80px;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-menu button {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .navbar-menu button {
    font-size: 16px;
    padding: 6px 10px;
  }
}

/* Toggle butonu */
.navbar-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #527895;
  cursor: pointer;
}

/* Menü (varsayılan masaüstü görünümü) */
.navbar-menu {
  display: flex;
  gap: 16px;
}

.navbar-menu button {
  margin-top: 1vh;
  background-color: transparent;
  color: #527895;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 12px;
  transition: color 0.2s ease;
  font-family: 'Russo One', sans-serif;
}

.navbar-menu button:hover {
  color: #1cebdd;
}
.navbar-menu button.active {
  color: #1cebdd;
  font-weight: bold;
}

/* Logo */
.navbar-logo img {
  height: 110px;
  width: auto;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: none !important;
  }

  .navbar-menu {
    display: none !important;
  }
}


